<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Add React in One Minute</title>
		<!-- Load React. -->
		<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
		<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
		<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
		<!-- Load Babel Compiler -->
		<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
		</head>
	<body>
		<table id='sheet'></table>
		<script type='text/jsx' src="{{ url_for('static',filename='load.js')}}"></script>
	</body>
</html>